OPENAI_API_KEY=tu_clave_OPENAI
OPENAI_MODEL=gpt-5.4-nano

SPOTIPY_CLIENT_ID=tu_cliente_Spotify
SPOTIPY_CLIENT_SECRET=tu_secret_Spotify
SPOTIPY_REDIRECT_URI=https://www.google.com

# Optional: default privacy for playlists created by the agent.
SPOTIFY_PLAYLIST_PUBLIC=false